<div class="shadow">
    <div class="window">
        <button
            class="closeModal"
            (click)="changeVisible()"
        >
            &#215;
        </button>
        <div class="modalUp">
            <span>Создание задачи</span>
        </div>
        <form (submit)="onSubmit(nameTask, aboutTask, emergencyTask, statusTask)">
            <div>
                <label for="nameTask">Название задачи</label>
                <input [(ngModel)]="nameTask" name="nameTask" type="text" id="nameTask" autocomplete="off" required="required">
            </div>
            <div>
                <label for="aboutTask">Опишите вашу задачу</label>
                <textarea [(ngModel)]="aboutTask" name="about" id="aboutTask" cols="30" rows="10" autocomplete="off" required="required"></textarea>
            </div>
            <div style="flex-direction: row; justify-content: center; margin-top: 10px;">
                <input [(ngModel)]="emergencyTask" name="emergency" class="checkbox" type="checkbox" id="checkEmergency">
                <label for="checkEmergency" style="margin-top: 0; font-weight: 500;">
                    Срочно
                    <span title="Задача, помеченная как срочная, будет выделена красным фоном">
                        ?
                    </span>
                </label>
            </div>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>