.taskDefault, .taskEmergency {
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.taskDefault {
    background-color: #fff;
}
.taskEmergency {
    color: #fff;
    background-color: #dc3545;
    font-weight: 500;
    .emergency {
        width: 20px;
        position: absolute;
        left: 10px;
    }
}