<div class="toDoList">
    <div class="setTasks">
        <div class="upTaskBlock">
            <span>Поставленные задачи</span>
            <button
                class="addTask"
                (click)="showModal()"
            >
                +
            </button>
        </div>
        <div class="tasks">
            <div *ngFor="let task of tasks">
                <app-task
                    class="task"
                    (click)="showTaskModal(task)"
                    *ngIf="task.statusTask == 'planned'"
                    [task]="task">
                </app-task>
            </div>
        </div>
    </div>
    <div class="inProgressTasks">
        <div class="upTaskBlock">
            <span>В работе</span>
        </div>
        <div class="tasks">
            <div *ngFor="let task of tasks">
                <app-task
                    class="task"
                    (click)="showTaskModal(task)"
                    *ngIf="task.statusTask == 'inWork'"
                    [task]="task">
                </app-task>
            </div>
        </div>
    </div>
    <div class="completedTasks">
        <div class="upTaskBlock">
            <span>Завершённые задачи</span>
        </div>
        <div class="tasks">
            <div *ngFor="let task of tasks">
                <app-task
                    class="task"
                    (click)="showTaskModal(task)"
                    *ngIf="task.statusTask == 'finished'"
                    [task]="task">
                </app-task>
            </div>
        </div>
    </div>
</div>

<app-add-task-modal
    *ngIf="modalAddIsVisible"
    [modalAddVisible]="modalAddIsVisible"
    (changeModalVisible)="changeVisible()"
></app-add-task-modal>

<app-task-modal
    *ngIf="modalTaskIsVisible"
    [modalTaskVisible]="modalTaskIsVisible"
    (changeTaskModalVisible)="changeTaskVisible()"
    [selectedTask]="selectedTask"
    (remove)="updateTasks()"
></app-task-modal>